body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1441px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:135px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-11px;
  width:1440px;
  height:135px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:60px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Kokonor';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:34px;
  width:385px;
  height:45px;
  font-family:'Kokonor';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:72px;
  width:120px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u110_img.mouseOver {
}
#u110.mouseOver {
}
#u110_img.mouseDown {
}
#u110.mouseDown {
}
#u110_img.disabled {
}
#u110.disabled {
  opacity:0.5;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:72px;
  width:120px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u112_img.mouseOver {
}
#u112.mouseOver {
}
#u112_img.mouseDown {
}
#u112.mouseDown {
}
#u112_img.disabled {
}
#u112.disabled {
  opacity:0.5;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:1096px;
  top:72px;
  width:120px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u114_img.mouseOver {
}
#u114.mouseOver {
}
#u114_img.mouseDown {
}
#u114.mouseDown {
}
#u114_img.disabled {
}
#u114.disabled {
  opacity:0.5;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:89px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:884px;
  width:1440px;
  height:89px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:45px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:154px;
  width:137px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:12px;
  width:113px;
  white-space:nowrap;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:2px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:198px;
  width:131px;
  height:1px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:192px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:235px;
  width:610px;
  height:192px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:88px;
  width:606px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:45px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:154px;
  width:137px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:12px;
  width:113px;
  white-space:nowrap;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:2px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:198px;
  width:131px;
  height:1px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:614px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:235px;
  width:469px;
  height:614px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:299px;
  width:465px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:45px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:533px;
  width:137px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:12px;
  width:113px;
  white-space:nowrap;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:2px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:908px;
  top:577px;
  width:131px;
  height:1px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:608px;
  width:313px;
  height:42px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:670px;
  width:333px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  white-space:nowrap;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:735px;
  width:577px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  white-space:nowrap;
}
